.catalog-titel {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 23px;
}

.catalog-item {
    width: 100%;
    padding: 24px 28px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    height: 364px;
    background: #f3f3f3;
}

/* .catalog-item img {
    margin: 0 auto;
    margin-bottom: 28px;
} */

.catalog-thumb {
    margin: 0 auto;
    width: 208px;
    height: 226px;
    margin-bottom: 28px;
}

.catalog-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.catalog-sud-titel {
    margin-bottom: 8px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.catalog-price {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}

@media screen and (min-width: 768px) {
.catalog-titel {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 0.92;
    }

.catalog-list {
    gap: 32px 16px;
}

.catalog-item {
    width: calc((100% - 16px) / 2);
    padding: 24px 32px;
    height: 414px;
}

.catalog-sud-titel {
    font-size: 20px;
    line-height: 1;
}

/* .catalog-item img {
    margin-bottom: 28px;
} */

.catalog-thumb {
    width: 268px;
    height: 292px;
    margin-bottom: 20px;
}
}

@media screen and (min-width: 1280px) {

.catalog-list {
    gap: 32px 23px;
}

.catalog-item {
    width: calc((100% - 46px) / 3);
}

.catalog-sud-titel {
    font-size: 20px;
    line-height: 1;
}

/* .catalog-item img {
    margin-bottom: 24px;
} */

.catalog-thumb {
    margin: 0 auto;
    width: 292px;
    height: 292px;
    margin-bottom: 24px;
}
}