.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.section {
    padding: 30px 0;
}

.logo {
    padding: 6px, 0;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-link {
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    display: flex;
    width: 36px;
    height: 36px;
}

@media screen and (min-width: 768px) {
.section {
        padding: 40px 0;
    }
}

@media screen and (min-width: 1280px) {
.section {
        padding: 50px 0;
    }
}